
<%= stylesheet_link_tag "touch-fancy" %>                                         
<style>
  #footer {
    background-color: rgb(51, 51, 51);
    bottom: 0;
    color: #cadcea;
    height: 80px;
    overflow: hidden;
    padding-right: 10px;
    position: absolute;
    width: 98%;
}

.blue {
  float: right;
}

</style>


<div id="footer">

<div id="buttons" class="buttons" style="top: 0px;">
  <button style="margin: 5px 0px 0px; min-width: 190px; float: left;" class="blue" onclick="document.location='/admin'"><span>Bwerelani</span></button>
</div>

</div>



<script>


</script>

