<html>
	<head>
      <style>
        .tt_controls_scan_location_barcode .keyboard {
            display: none !important;
        }
        
      </style>
      

      <script language="javascript">
        
        var tt_cancel_destination = "/portal";
        doListSuggestions = false; //speeds up keyboard response

        var setFocusTimeout = 1000;
        var checkForBarcodeTimeout = 1500;
       
        function loadBarcodePage() {
           focusForBarcodeInput();
           moveNext();
        }

        function focusForBarcodeInput(){
          var barcode = document.getElementById("touchscreenInput2");
          if (barcode) {
             barcode.focus();
             window.setTimeout("focusForBarcodeInput()", setFocusTimeout);
          }
        }
        
       
        function moveNext(){
          usertext = document.getElementById("touchscreenInput2");
          try {
          if (usertext.value.match(/.+\$$/i) != null){
            usertext.value=usertext.value.substring(0,usertext.value.length -1);
            gotoNextPage();
          }
          }catch(e) {};
          window.setTimeout("moveNext()", checkForBarcodeTimeout);
        } 
           
        window.addEventListener("load", loadBarcodePage, false);
      </script>
	</head>
<body>

<%=form_tag '/login' do%>
<input type="text" id="username" name="user[username]" helpText="Enter username" textCase="lower"/>
<input type="password" id="password" name="user[password]" helpText ="Enter password" textCase="lower"/>
<%end%>

</body>
</html>

