<h1>ElasticReports#index</h1>
<p>Find me in app/views/elastic_reports/index.html.erb</p>

<%= %>
<table border="2px">
  <tr>
    <th>
      Characteristics
    </th>
    <th>
      March 2018
    </th>
    <th>
      April 2018
    </th>
  </tr>
  <tr>
    <td>
      &nbsp
    </td>
    <td>
      &nbsp
    </td>
    <td>
      &nbsp
    </td>
  </tr>
  <tr>
    <td>
      Total villages eligible for monthly reporting
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      Any village reporting a birth during the month
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      Total villages reporting new registrations
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      Any village reporting a death during the month
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      &nbsp
    </td>
    <td>
      &nbsp
    </td>
    <td>
      &nbsp
    </td>
  </tr>
  <tr>
    <th>
      New Registrations in the Month
    </th>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      Total number of births reported in the month
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      Total number of other registrations excluding births in the month
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      Total villages eligible for monthly reporting
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      &nbsp
    </td>
    <td>
      &nbsp
    </td>
    <td>
      &nbsp
    </td>
  </tr>
  <tr>
    <td>
      Total number of new registrations (births and Others) in the month
    </td>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <th>
      New Deaths in the Month
    </th>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
  <tr>
    <td>
      &nbsp
    </td>
    <td>
      &nbsp
    </td>
    <td>
      &nbsp
    </td>
  </tr>
  <tr>
    <th>
      Total TA Census
    </th>
    <td>
      0
    </td>
    <td>
      0
    </td>
  </tr>
</table>